# GitHub OAuth 配置
GITHUB_CLIENT_ID=Ov23liOanljYRNI5ZCbP
GITHUB_CLIENT_SECRET=9b3c207b4e1378810e25eb73268a5c965449ed00

# 数据库配置
DATABASE_TYPE=mysql
DATABASE_HOST=8.138.89.230
DATABASE_PORT=3306
DATABASE_USERNAME=my_user
DATABASE_PASSWORD=Fly200316..
DATABASE_NAME=codeflyblog

# Session 配置
SESSION_PASSWORD=your_session_password_32_chars_min
SESSION_COOKIE_NAME=your_app_session

# 七牛云配置
QINIU_ACCESSKEY=g_In-Xx7UuXy34ehGbkpebSV-kxwk0oudIEjgSJs
QINIU_SECRETKEY=jXfMwvK0FO9w5hguuDevNpIVQsbo-QMLlGS4JgXa
QINIU_PRIVATE_BUCKET=codeflyblog
QINIU_PUBLIC_BUCKET=codeflyblog-public

# 应用配置
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development