.navbar{
  height: 4rem;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 9;
}

.logo{
  width: 120px;

  @media screen and (max-width: 1440px) {
    width: 120px;
    height: 60px;
  }
  @media screen and (max-width: 768px) {
      width: 80px;
      height: 40px;
  }
}


.linkArea{
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color:#495057
  }
  .active{
    color:#3bc9db;
    border-bottom: 2px solid #3bc9db;
  }
}

